<p-panel header="Pipes personalizados " class="p-2">
  <p>
    Pipes personalizados para Angular - Creados por {{'nosotros' | toggleCase:isUpperCase}}
  </p>
</p-panel>


<p-toolbar
  [style]="{ 'border-radius': '1rem', 'background-image': 'linear-gradient(to right, var(--bluegray-600), var(--bluegray-800))' }">
  <div class="p-toolbar-group-start">
    <p-button label="ToogleCase" styleClass="p-button-success" icon="pi pi-search" iconPos="right"
      (onClick)="toggleUpperCase()"
    ></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button styleClass="p-button-danger mr-2" label="Por nombre" icon="pi pi-sort" iconPos="right"
      (onClick)="changeOrder('name')"
    ></p-button>
    <p-button styleClass="p-button-warning mr-2" label="Por volar" icon="pi pi-sort" iconPos="right"
      (onClick)="changeOrder('canFly')"
    ></p-button>
    <p-button styleClass="p-button-help mr-2" label="Por color" icon="pi pi-sort" iconPos="right"
      (onClick)="changeOrder('color')"
    ></p-button>
  </div>
</p-toolbar>


<p-panel header="Tabla de Heroes " class="p-2">
  <p-table [value]="heroes | sortBy:orderBy " [tableStyle]="{ 'min-width': '50rem' }" >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Puede volar</th>
        <th>Color</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hero>
      <tr>
        <td>{{ hero.name }}</td>
        <td>{{ hero.canFly | canFly }}</td>
        <td>{{ hero.color }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
